<div class="center">
    <div class="container formbg">
        <h4 class="text-center text-primary pt-2">Login </h4>
        <form [formGroup]="loginform" (ngSubmit)="loginUser()">
            <div class="row">
                <div class="col-12 mt-2">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Enter Your Email"
                            formControlName="email">
                        <small style="color: red;" *ngIf="email && email.invalid && email.touched ">Your Email is not
                            valid</small>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="form-group">
                        <label for="password">password</label>
                        <input type="password" class="form-control" id="password" placeholder="Enter Your password"
                            formControlName="password">
                        <small style="color: red;" *ngIf="password && password.invalid && password.touched ">Your
                            password is not
                            valid</small>
                    </div>
                </div>

            </div>
            <button type="submit" class="mt-3 w-100 btn btn-lg btn-primary">Login</button>
        </form>
        <p class="small-xl pt-3 text-center">
            <span class="text-muted"> Not a member? </span>
            <a [routerLink]="['/auth/register']"> Register </a>
        </p>
    </div>
</div>