<div class="container">
    <div class="row">
        <div class="col-6">
            <h1 class="fw-bold text-success"> Clinics</h1>

        </div>
        <div class="col-6">
            <button class="btn btn-primary add" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Add
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Clinic</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="center">
                                <div class="container formbg">
                                    <form [formGroup]="clinicForm" (ngSubmit)="clinicFormSubmit()">
                                        <div class="row">

                                            <div class="col-6 mt-2">

                                                <label>Hospital Name</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter Hospital Name" formControlName="name">
                                                <small style="color: red;"
                                                    *ngIf="name && name.invalid && name.touched ">Your hospital Name
                                                    is not
                                                    valid</small>
                                            </div>
                                            <div class="col-6 mt-2">

                                                <label>Hospital Adress</label>
                                                <input type="text" class="form-control"
                                                    placeholder="Enter Hospital Adress" formControlName="address">
                                                <small style="color: red;"
                                                    *ngIf="address && address.invalid && address.touched ">Your
                                                    hospital
                                                    Adress
                                                    is not
                                                    valid</small>

                                            </div>
                                            <div formGroupName="timing">
                                                <div class="row">
                                                    <div class="col-6 mt-2">

                                                        <label>Start Time</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                            formControlName="startTime"
                                                            (change)="timechange($event.target)">
                                                            <ng-container *ngFor="let items of timeSlot; last as last ">
                                                                <option *ngIf="!last" value={{items}}>
                                                                    {{items < 10? '0' : "" }}{{items}}:00 </option>
                                                            </ng-container>
                                                        </select>
                                                        <small style="color: red;"
                                                            *ngIf="startTime && startTime.invalid && startTime.touched ">Your
                                                            start Time is not valid</small>
                                                    </div>
                                                    <div class="col-6 mt-2">

                                                        <label>End Time</label>
                                                        <select class="form-select" aria-label="Default select example"
                                                            formControlName="endTime">
                                                            <ng-container
                                                                *ngFor="let data of timeSlot ; first as first">
                                                                <option *ngIf="!first && data > selectTime  "
                                                                    value={{data}}>
                                                                    {{data < 10? '0' : "" }}{{data}}:00 </option>
                                                            </ng-container>
                                                        </select>
                                                        <small style="color: red;"
                                                            *ngIf="endTime && endTime.invalid && endTime.touched ">Your
                                                            end
                                                            Time
                                                            is
                                                            not
                                                            valid</small>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-2">

                                                <label>Status</label>
                                                <select class="form-select" aria-label="Default select example"
                                                    formControlName="status">
                                                    <option value="1" selected>Active</option>
                                                    <option value="0">Inactive</option>
                                                </select>
                                                <small style="color: red;"
                                                    *ngIf="status && status.invalid && status.touched ">Your Status
                                                    is not
                                                    valid</small>

                                            </div>
                                        </div>
                                        <button type="submit" class="mt-3 w-100 btn btn-lg btn-primary">Submit</button>


                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <div class="container">
        <div class="table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Address</th>
                        <th scope="col">Days</th>
                        <th scope="col">Status</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of ClinicsData ; index as i">
                        <th scope="row"> {{i+1}} </th>
                        <td>{{item.name}}</td>
                        <td>{{item.address}}</td>
                        <td><button class="btn btn-info" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModaldays" (click)="getIdForList(item)">Days</button>
                        </td>
                        <td>{{item.status? 'Active': 'InActive'}}</td>
                        <td><button class="btn btn-success" type="button" data-bs-toggle="modal"
                                data-bs-target="#exampleModal3"
                                (click)="getId(item._id,item.name ,item.address , item.status)">Update</button></td>
                        <td><button class="btn btn-danger" (click)="delete(item._id)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>




<div class="modal fade" id="exampleModaldays" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{hospitalName}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Days</th>
                                    <th scope="col">Timing</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let day of daysOfWeek; index as i">
                                    <td scope="row">{{i+1}} </td>
                                    <td>{{day}}</td>
                                    <td><button class="btn btn-warning" type="button" data-bs-toggle="modal"
                                            data-bs-target="#exampleModalList" (click)="getDayName(day)">List</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>











<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update Clinic</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="container formbg">
                        <form [formGroup]="upDateClinicForm" (ngSubmit)="upDateClinic(useUpdateId)">
                            <div class="row">

                                <div class="col-6 mt-2">

                                    <label>Hospital Name</label>
                                    <input type="text" class="form-control" placeholder="Enter Hospital Name"
                                        formControlName="name" [value]="pastName">
                                    <small style="color: red;" *ngIf="name && name.invalid && name.touched ">Your
                                        hospital Name
                                        is not
                                        valid</small>
                                </div>
                                <div class="col-6 mt-2">

                                    <label>Hospital Adress</label>
                                    <input type="text" class="form-control" placeholder="Enter Hospital Adress"
                                        formControlName="address" [value]="pastAddress">
                                    <small style="color: red;"
                                        *ngIf="address && address.invalid && address.touched ">Your
                                        hospital
                                        Adress
                                        is not
                                        valid</small>

                                </div>
                                <div class="mt-2">

                                    <label>Status</label>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="status" [value]="paststatus">
                                        <option value="1" selected>Active</option>
                                        <option value="0">Inactive</option>
                                    </select>
                                    <small style="color: red;" *ngIf="status && status.invalid && status.touched ">Your
                                        Status
                                        is not
                                        valid</small>

                                </div>
                            </div>
                            <button type="submit" class="mt-3 w-100 btn btn-lg btn-primary">Update</button>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="exampleModalList" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 800px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabeldays">{{days}} </h5>
                <p class="modal-title" id="exampleModalLabelname">{{hospitalName}}</p>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form [formGroup]="timeSlotForm" (ngSubmit)="TimeSlotFormSubmit()">
                        <div formGroupName="timing">
                            <div class="row">
                                <div class="col-4 mt-2">

                                    <label>Start Time</label>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="startTime" (change)="timechange($event.target)">
                                        <ng-container *ngFor="let items of timeSlot; last as last; index as i">

                                            <option *ngIf="!last" [value]="items">{{items < 10 ? '0' : ''
                                                    }}{{items}}:00</option>
                                        </ng-container>
                                    </select>
                                    <small style="color: red;"
                                        *ngIf="startTime && startTime.invalid && startTime.touched ">Your
                                        start Time is not valid</small>
                                </div>
                                <div class="col-4 mt-2">

                                    <label>End Time</label>
                                    <select class="form-select" aria-label="Default select example"
                                        formControlName="endTime" (change)="endtimechange($event.target)">
                                        <ng-container *ngFor="let data of timeSlot; first as first">
                                            <option *ngIf="!first && data > selectTime" [value]="data">
                                                {{data < 10 ? '0' : '' }}{{data}}:00 </option>
                                        </ng-container>
                                    </select>
                                    <small style="color: red;"
                                        *ngIf="endTime && endTime.invalid && endTime.touched ">Your
                                        end
                                        Time
                                        is
                                        not
                                        valid</small>

                                </div>
                                <div class="col-4 mt-2">
                                    <div class="row">
                                        <div class="col-6">
                                            <button *ngIf="showClearButton" type="submit" style="width: 100%;"
                                                class="mt-4 btn  btn-secondary" (click)="onClearClick()">Clear
                                            </button>
                                        </div>
                                        <div class="col-6">
                                            <button type="submit" class="mt-4 btn  btn-primary" style="width: 100%;"
                                                [innerText]="showClearButton ? 'Update' : 'Add'"
                                                [disabled]="matchFound"></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                    <ng-container *ngIf="show">
                        <div class="text-danger mt-2 text-bold">Already Exist</div>
                    </ng-container>

                    <div class="table-responsive mt-3">
                        <table class="table">
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Start Time</th>
                                    <th scope="col">End Time</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of timeSelect ; index as i">
                                    <th scope="row">{{i+1}} </th>
                                    <td>{{item.startTime < 10? '0' : "" }}{{item.startTime}}:00</td>
                                    <td> {{item.endTime < 10? '0' : "" }}{{item.endTime}}:00 </td>
                                    <td><button class="btn  btn-danger" (click)="deleteTime(i)">Delete</button>
                                    </td>
                                    <td><button class="btn  btn-success" (click)="populateTimie(i, item)">Edit</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="display: flex; justify-content: center;">
                            <button class=" update btn btn-primary" (click)="updateTiming(setId)">update</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>