.add {
    margin-left: 78%;
    margin-top: 10px;
}

#exampleModalLabeldays {
    margin-top: -2rem;
}

#exampleModalLabelname {
    margin-top: 1rem;
    margin-left: -73px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.modal-header .modal-title {
    margin-bottom: 10px;
}